<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017383049659-af8n40srap5qhebk8ud88a4assafi0dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017383049659-af8n40srap5qhebk8ud88a4assafi0dk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1017383049659-8efu9cpo44bobcifgblk0keph9p1t196.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzXTUNA9pVSqFq-k-akot4lSkEKH9Rqgw</string>
	<key>GCM_SENDER_ID</key>
	<string>1017383049659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.yukki.snowflake</string>
	<key>PROJECT_ID</key>
	<string>yukki-snowflake</string>
	<key>STORAGE_BUCKET</key>
	<string>yukki-snowflake.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017383049659:ios:1d96df5551cd0fc844cc9e</string>
</dict>
</plist>